.login-form {
  margin-top: 3em;
  /* margin-left: 200px; */
}

.login_email {
  width: 25em;
}

h2 {
  text-align: center;
  margin-bottom: 1.5em;
}
.login-logo {
  display: block;
  margin-left: 9.5em !important;
  margin-right: auto;
  width: 50%;
}
.mb-3 {
  margin-left: 4em;
}
.btn {
  margin-left: 4em;
}
.leftside-image {
  width: 68em;
  height: auto;
  margin-left: -200px;
}
